@include border-box-sizing; //prevents padding and margins from affecting layout


//Colour Palette
$cream         : #fbf0d4;
$sand          : #e2d5a4;
$creamy-beige  : #f1ecda;
$beige         : #dacdad;

$khaki         : #bead8f;
$sea-green     : #6f8787;
$pale-sage     : #b1b09e;
$dark-beige    : #c0a878;

$deep-brown    : #3c1f1e;
$mahogany      : #55221a;
$very-dark-brown : #483e3c;
$near-black    : #24201d;


//Font Variables
$headingFont  : Ovo, serif;
$primaryFont  : Muli, sans-serif;